*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  background: url(../images/png/kir.png);
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

button {
  border: none;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-btn {
  font-family: "Display";
  font-weight: 500;
  display: inline-block;
  padding: 14px 59px;
  background-color: #158527;
  border-radius: 11px 0px;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.site-btn:hover {
  border-radius: 0px 11px;
}

.bg-circle {
  width: 100vw;
  height: 100vh;
  position: fixed;
  right: -75%;
  z-index: -2;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.bg-circle .circle {
  position: absolute;
  top: -250px;
  background: #f9fcdb;
  width: 1300px;
  height: 1700px;
  border-radius: 35%;
  overflow: hidden;
  -webkit-animation: circle 35s infinite linear;
          animation: circle 35s infinite linear;
}
@-webkit-keyframes circle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes circle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.site-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  height: 72px;
}

.header {
  padding: 23px 0 0 0;
}
.header__top .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 102px;
}
.header__top .header-nav-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
}
.header__top .header-nav-about .blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.header__top .header-nav-about .blog-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  background-color: #f8fbda;
}
.header__top .header-nav-about .blog-img img {
  width: 24px;
  height: 24px;
}
.header__top .header-nav-about .blog-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  font-family: "Display";
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #000;
}
.header__top .header-nav-about .blog-text h3 {
  font-family: "Display";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #5a7c52;
}
.header-bottom {
  overflow: hidden;
  width: 100%;
  position: relative;
}
.header-bottom .bottom-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-bottom .bottom-wrapper .bottom-wrapper-item {
  width: 100%;
  max-width: 366px;
}
.header-bottom .bottom-wrapper .bottom-wrapper-item .title {
  font-family: "Arima";
  font-weight: 700;
  font-size: 200px;
  line-height: 1;
  color: #158527;
}
.header-bottom .bottom-wrapper .bottom-wrapper-item .title span {
  color: #000;
}
.header-bottom .bottom-wrapper .bottom-wrapper-item .sub-title {
  font-family: "Display";
  font-weight: 400;
  font-size: 50px;
  line-height: 1;
  color: #444939;
  margin-bottom: 21px;
}
.header-bottom .bottom-wrapper .bottom-wrapper-item .text {
  font-family: "Display";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #444939;
  margin-bottom: 21px;
}
.header-bottom .bottom-wrapper .barg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.header-bottom .bottom-wrapper .barg .piola {
  width: 840px;
  height: 690px;
  z-index: 10;
}
.header-bottom .bottom-wrapper .barg .barg-section {
  width: 600px;
  position: absolute;
  top: 180px;
  left: auto;
  right: -350px;
  z-index: -1;
}
.header-bottom .bottom-wrapper .barg .barg-section .l {
  width: 600px;
  height: 400px;
  position: absolute;
  right: 80px;
  top: -200px;
}
.header-bottom .bottom-wrapper .barg .barg-section .r {
  width: 600px;
  height: 400px;
  position: absolute;
  top: -120px;
  right: 30px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.reputation {
  width: 100%;
  background-color: #fff;
  padding: 80px 117px;
}
.reputation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.reputation-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2px;
}
.reputation-list__item .title {
  font-family: "Arima";
  font-weight: 400;
  font-size: 80px;
  line-height: 131px;
  color: #000;
}
.reputation-list__item .title span {
  color: #158527;
}
.reputation-list__item .sub-title {
  font-family: "Display";
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: rgba(0, 0, 0, 0.5);
}
.reputation-list .line {
  width: 173px;
  height: 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.products {
  background-color: #fff;
  padding: 80px 0px;
}
.products-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 46px;
  position: relative;
}
.products-wrapper .title-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.products-wrapper .title-section .title {
  font-family: "Display";
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  color: #000;
}
.products-wrapper .title-section .title span {
  font-family: "Arima";
  font-weight: 700;
  font-size: 50px;
  line-height: 1;
  color: #158527;
}
.products-wrapper .buttons {
  position: absolute;
  top: 11px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
.products-wrapper .buttons .button-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 38px;
  height: 38px;
  background: #158527;
  border-radius: 50%;
}
.products-wrapper .buttons .button-prev img {
  width: 24px;
  height: 24px;
}
.products-wrapper .buttons .button-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 38px;
  height: 38px;
  background-color: #158527;
  border-radius: 50%;
  rotate: 180deg;
}
.products-wrapper .buttons .button-next img {
  width: 24px;
  height: 24px;
}
.products-wrapper .product-section .swiper .swiper-wrapper .swiper-slide {
  width: 285px !important;
  background: #FAFAF9;
  border-radius: 0px 24px;
}
.products-wrapper .product-section .swiper .swiper-wrapper .swiper-slide .frame {
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
}
.products-wrapper .product-section .swiper .swiper-wrapper .swiper-slide .frame .img-frame {
  padding: 10px 30px;
  width: 100%;
  max-width: 237px;
  height: 144px;
  background: #F3F3EE;
  border-radius: 12px;
  display: grid;
  place-items: center;
}
.products-wrapper .product-section .swiper .swiper-wrapper .swiper-slide .frame .img-frame img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.products-wrapper .product-section .swiper .swiper-wrapper .swiper-slide .frame .title {
  font-family: "Display";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}
.products-wrapper .product-section .swiper .swiper-wrapper .swiper-slide .frame .text {
  font-family: "Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.5);
}