.header2 {
  background: var(--bg-color);
  padding: 28px 0;
}
.guarantee2 {
  position: relative;
  padding-bottom: 300px;
  width: 100%;
  height: auto;
  background: var(--bg-color);
  @include media(800px) {
    padding-bottom: 260px;
  }
  @include media(400px) {
    padding-bottom: 140px;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media(1000px) {
      flex-direction: column-reverse;
    }
  }
  &-text-wrapper {
    width: 100%;
    max-width: 565px;
    height: 456px;
    margin-left: -16px;
    margin-bottom: -110px;
    &-title {
      font-family: $sc-font;
      font-weight: 700;
      font-size: 200px;
      color: $pr-color;
      @include media(400px) {
        font-size: 150px;
        line-height: 1;
      }
    }
    &-sub-title {
      font-family: $pr-font;
      font-weight: 400;
      font-size: 50px;
      line-height: 60px;
      color: var(--third-text-color);
      margin-left: 16px;
      margin-bottom: 40px;
      @include media(400px) {
        font-size: 40px;
        line-height: 48px;
      }
    }
    .text-frame {
      width: 100%;
      display: flex;
      flex-direction: column;
      font-family: $pr-font;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: var(--third-text-color);
      margin-left: 16px;
      gap: 12px;
      @include media(400px) {
        max-width: 334px;
        text-align: center;
        font-size: 16px;
        line-height: 22.4px;
      }
      .text {
      }
    }
  }
  .cup-w {
    @include media(1000px) {
      margin-bottom: 500px;
    }
    @include media(800px) {
      margin-bottom: 760px;
    }
    @include media(600px) {
      margin-bottom: 360px;
    }
    .cup {
      position: absolute;
      padding: 0 20px;
      top: -100px;
      right: 0;
      @include media(800px) {
        width: 808.43px;
        height: auto;
        // top: 0;
        left: 0;
      }
      @include media(600px) {
        width: 605.43px;
        height: 502.91px;
        top: -100px;
        left: auto;
        right: -130px;
      }
      @include media(400px) {
        top: -80px;
        left: auto;
        right: -110px;
        width: 505.43px;
        height: 402.91px;
      }
    }
  }
}
.choose2 {
  padding: 80px 0;
  &-title {
    max-width: 610px;
    text-align: center;
    font-family: $pr-font;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: var(--text-color);
    span {
      font-family: $sc-font;
      font-weight: 700;
      line-height: 82px;
      color: $pr-color;
    }
    @include media(400px) {
      max-width: 314px;
      font-weight: 400;
      font-size: 30px;
      line-height: 37px;
      span {
        font-size: 30px;
        line-height: 37px;
      }
    }
  }
  &-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
  &-frame {
    width: 100%;
    max-width: 1200px;
    display: flex;
    .list {
      width: 100%;
      display: flex;
      gap: 80px;
      margin: 0 auto;
      @include media(1200px) {
        gap: 50px;
      }
      @include media(1000px) {
        gap: 30px;
      }
      @include media(800px) {
        flex-direction: column;
        gap: 24px;
      }
      .item-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0 auto;
        gap: 80px;
        @include media(1200px) {
          gap: 50px;
        }
        @include media(1000px) {
          gap: 30px;
        }
        @include media(400px) {
          gap: 43px;
        }
      }
      .item {
        width: 100%;
        max-width: 168px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        &:nth-child(2) .image {
          border-radius: 0px 24px;
        }
        &:nth-child(4) .image {
          border-radius: 0px 24px;
        }
        .image {
          position: relative;
          width: 123px;
          height: 123px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--sc-color);
          border-radius: 24px 0px;
          margin-bottom: 20px;
          padding: 0 22.5px;
          font-family: $sc-font;
          font-weight: 400;
          font-size: 50px;
          line-height: 75px;
          color: $pr-color;
          svg path {
            fill: var(--fill-color);
          }
          .o {
            position: absolute;
            width: 50px;
            height: 50px;
            display: inline-block;
            background: rgba($pr-color, 0.1);
            border-radius: 50%;
          }
        }
        .text {
          width: 100%;
          max-width: 168px;
          font-family: $pr-font;
          font-weight: 400;
          font-size: 24px;
          line-height: 30px;
          color: var(--text-color);
          span {
            font-family: $sc-font;
            font-weight: 700;
            color: $pr-color;
          }
          @include media(1000px) {
            font-size: 18px;
            line-height: 22.5px;
          }
        }
      }
    }
  }
}
