.choose {
  padding: 80px 0;
  &-title {
    max-width: 610px;
    text-align: center;
    font-family: $pr-font;
    font-weight: 400;
    font-size: 50px;
    line-height: 125%;
    color: $pr-text-color;
    span {
      font-family: $sc-font;
      font-weight: 700;
      color: $pr-color;
    }
  }
  &-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 0 114px;
  }
  &-frame {
    width: 100%;
    .list {
      width: 100%;
      max-width: 972px;
      display: flex;
      justify-content: space-between;
      .item-wrapper {
        width: 100%;
        max-width: 436px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 100px;
      }
      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        &:nth-child(2) .image {
          border-radius: 0px 24px;
        }
        &:nth-child(4) .image {
          border-radius: 0px 24px;
        }
        .image {
          width: 123px;
          height: 123px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $sc-bg-color;
          border-radius: 24px 0px;
          margin-bottom: 20px;
        }
        .text {
          width: 100%;
          max-width: 168px;
          font-family: $pr-font;
          font-weight: 400;
          font-size: 24px;
          line-height: 30px;
          color: $pr-text-color;
          span {
            font-family: $sc-font;
            font-weight: 700;
            color: $pr-color;
          }
        }
      }
    }
  }
}
