.guarantee {
  width: 100%;
  height: 704px;
  background: $bg-color;
  padding-bottom: 80px;
  .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  &-images-wrapper {
    position: relative;
    top: 80px;
    .frame {
      width: 527px;
      height: 464px;
      background: $sc-bg-color;
      border-radius: 59px 0px;
    }
    .barg-2 {
      position: absolute;
      top: -291px;
      left: -126px;
    }
    .cup {
      position: absolute;
      top: 80px;
      left: 80px;
      width: 527px;
      height: 464px;
    }
  }
  &-text-wrapper {
    position: relative;
    top: 62px;
    width: 100%;
    max-width: 531px;
    &-title {
      font-family: $pr-font;
      font-weight: 400;
      font-size: 50px;
      line-height: 62px;
      color: $pr-text-color;
      margin-bottom: 30px;
      span {
        font-family: $sc-font;
        font-weight: 700;
        font-size: 50px;
        line-height: 1;
        color: $pr-color;
      }
    }
    .text-frame {
      display: flex;
      flex-direction: column;
      gap: 45px;
      font-family: $pr-font;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: rgba($pr-text-color, 0.7);
      .text {
        width: 100%;
        max-width: 510px;
        height: auto;
      }
    }
  }
}
