.header {
  padding: 23px 0 0 0;
  &__top {  
    &.navbar {
      width: 100%;
      height: 100px;
      position: fixed;
      top: 0;
      left: 0;
      background: var(--bg-color);
      transition: all 0.5s ease;
      z-index: 20;
      padding-top: 10px;
      box-shadow: 1px 0px 20px 5px;
      margin-bottom: 70px;
      @include media(810px){

      }
      @include media(393px){
        height: 200px;
      }
    }
    .header-nav {
      display: flex;
      align-items: center;
      gap: 102px;
      @include media(810px){
        gap: 40px;
      }
      @include media(530px){
        flex-direction: column;
        gap: 30px;
      }
      @include media(393px){
        flex-direction: column;
        gap: 20px;
      }
      &-about {
        display: flex;
        align-items: center;
        gap: 80px;
        @include media(810px){
          gap: 30px;
        }
        @include media(393px){
          gap: 36px;
        }
        .blog {
          width: 100%;
          max-width: 235px;
          display: flex;
          align-items: center;
          gap: 15px;
          @include media(700px){
            width: 100%;
            max-width: 178px;
          }
          @include media(393px){
            gap: 8px;
          }
          &-img {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 61px;
            height: 61px;
            border-radius: 50%;
            background-color: var(--sc-color);
            img {
              width: 24px;
              height: 24px;
              @include media(700px){
                width: 20px;
                height: 20px;
              }
              @include media(393px){
                width: 12.59px;
                height: 12.59px;
              }
            }
            @include media(700px){
              max-width: 50px;
              height: 50px;
            }
            @include media(393px){
              max-width: 32px;
              height: 32px;
            }
          }
          &-text {
            display: flex;
            flex-direction: column;
            gap: 8px;
            h3 {
              font-family: $pr-font;
              font-weight: 400;
              font-size: 16px;
              line-height: 19px;
              color: $sc-text-color;
              @include media(700px){
                font-weight: 400;
                font-size: 13px;
                line-height: 1;
              }
            }
            p{
              font-family: $pr-font;
              font-weight: 600;
              font-size: 18px;
              line-height: 21px;
              color: var(--text-color);
              @include media(700px){
                font-weight: 500;
                font-size: 16px;
                line-height: 1;
                letter-spacing: 1px;
              }
            }
          }
        }
      }
    }
  }
  &-bottom {
    overflow: hidden;
    width: 100%;
    position: relative;
    .bottom-wrapper {
      display: flex;
      align-items: center;
      .bottom-wrapper-item {
        width: 100%;
        max-width: 366px;

        .title {
          font-family: $sc-font;
          font-weight: 700;
          font-size: 200px;
          line-height: 1;
          color: $pr-color;
          -webkit-text-stroke: 1px #000;
          span {
          -webkit-text-stroke: 0px;
          color: var(--text-color);
          }
        }
        .sub-title {
          font-family: $pr-font;
          font-weight: 400;
          font-size: 50px;
          line-height: 1;
          color:  var(--third-text-color);
          margin-bottom: 21px;
        }
        .text {
          font-family: $pr-font;
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          color: var(--third-text-color);
          margin-bottom: 21px;
        }
      }
      .barg {
        display: flex;
        align-items: center;
        position: relative;
        .piola {
          width: 840px;
          height: 690px;
          z-index: 10;
        }
        .barg-section {
          width: 600px;
          position: absolute;
          top: 180px;
          left: auto;
          right: -350px;
          z-index: -1;
          .l {
            width: 600px;
            height: 400px;
            position: absolute;
            right: 80px;
            top: -200px;
          }
          .r {
            width: 600px;
            height: 400px;
            position: absolute;
            top: -120px;
            right: 30px;
            transform: rotateY(180deg);
          }
        }
      }
    }
  }
}
