.reputation {
  width: 100%;
  background-color: var(--bg-color);
  padding: 80px 0 0 0;
  &-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    @include media(1025px) {
      gap: 80px;
    }
    @include media(850px) {
      gap: 60px;
    }
    @include media(760px) {
      gap: 50px;
    }
    @include media(670px) {
      gap: 40px;
    }
    @include media(460px) {
      gap: 30px;
    }
    @include media(400px) {
      gap: 32px;
    }
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      .title {
        font-family: $sc-font;
        font-weight: 400;
        font-size: 80px;
        line-height: 131px;
        color: var(--text-color);
        @include media(1000px) {
          font-size: 70px;
          line-height: 100px;
        }
        @include media(900px) {
          font-size: 60px;
          line-height: 90px;
        }
        @include media(730px) {
          font-size: 55px;
          line-height: 60px;
        }
        @include media(400px) {
          font-size: 50px;
          line-height: 82px;
        }
        span {
          color: $pr-color;
        }
      }
      .sub-title {
        font-family: $pr-font;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: var(--text-color);
        opacity: 0.5;
        @include media(900px) {
          font-size: 22px;
          line-height: 25px;
        }
        @include media(500px) {
          font-size: 20px;
          line-height: 23px;
        }
        @include media(400px) {
          font-size: 18px;
          line-height: 21px;
        }
      }
    }
    .line {
      width: auto;
      height: 173px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      @include media(1000px) {
        height: 140px;
      }
      @include media(800px) {
        height: 120px;
      }
      @include media(600px) {
        height: 100px;
      }
      @include media(400px) {
        height: 104px;
      }
    }
    .line-none {
      @include media(620px) {
        display: none;
      }
    }
  }
}
.products {
  background-color: var(--bg-color);
  padding: 80px 0px;
  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 46px;
    position: relative;
    .title-section {
      display: flex;
      justify-content: start;
      .title {
        font-family: $pr-font;
        font-weight: 400;
        font-size: 50px;
        line-height: 60px;
        color: var(--text-color);
        @include media(600px) {
          font-size: 40px;
        }
        @include media(400px) {
          font-size: 30px;
          line-height: 39px;
        }
        span {
          font-family: $sc-font;
          font-weight: 700;
          font-size: 50px;
          line-height: 1;
          color: $pr-color;
          @include media(600px) {
            font-size: 40px;
          }
          @include media(400px) {
            font-size: 30px;
            line-height: 39px;
          }
        }
      }

      .buttons {
        position: absolute;
        top: 11px;
        right: 0;
        display: flex;
        align-items: center;
        gap: 24px;
        @include media(600px) {
          display: none;
        }
        .button-prev {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 38px;
          height: 38px;
          background: $pr-color;
          border-radius: 50%;
          img {
            width: 24px;
            height: 24px;
          }
        }
        .button-next {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 38px;
          height: 38px;
          background-color: $pr-color;
          border-radius: 50%;
          rotate: 180deg;
          img {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
    .product-section {
      .swiper {
        .swiper-wrapper {
          .swiper-slide {
            background: var(--pr-bg-color);
            border-radius: 0px 24px;
            .frame {
              padding: 24px;
              display: flex;
              align-items: center;
              flex-direction: column;
              gap: 18px;
              @include media(700px) {
                align-items: center;
                text-align: center;
              }
              .img-frame {
                padding: 10px 30px;
                width: 100%;
                max-width: 237px;
                height: 144px;
                background: var(--sr-bg-color);
                border-radius: 12px;
                display: grid;
                place-items: center;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  object-position: center;
                }
              }
              .title {
                font-family: $pr-font;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                color: var(--text-color);
              }
              .text {
                font-family: $pr-font;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 1;
                color: var(--text-color);
              }
            }
          }
        }
      }
      .btn2 {
        position: relative;
        top: 20px;
        left: 0;
        .buttons2 {
          display: none;
          align-items: center;
          justify-content: center;
          gap: 24px;
          @include media(600px) {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .button-prev {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 38px;
            height: 38px;
            background: $pr-color;
            border-radius: 50%;
            img {
              width: 24px;
              height: 24px;
            }
          }
          .button-next {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 38px;
            height: 38px;
            background-color: $pr-color;
            border-radius: 50%;
            rotate: 180deg;
            img {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
  }
}
.about-us-section {
  width: 100%;
  background: var(--bg-color);
  padding-bottom: 80px;
  .container {
    display: flex;
    align-items: center;
    gap: 60px;
    @include media(1000px) {
      gap: 30px;
    }
    @include media(800px) {
      flex-direction: column;
      gap: 24px;
    }
  }
  &-packing {
    width: 100%;
    max-width: 548px;
    height: 496px;
    background: $sc-text-color;
    border-radius: 87px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media(500px) {
      border-radius: 50px 0px;
      height: 396px;
    }
    @include media(400px) {
      width: 335px;
      height: 302px;
    }
    &-title {
      max-width: 328px;
      font-family: $sc-font;
      font-weight: 700;
      font-size: 50px;
      line-height: 81.65px;
      color: #fff;
      @include media(500px) {
        font-size: 40px;
        line-height: 60px;
      }
      @include media(400px) {
        font-size: 32px;
        line-height: 52px;
      }
    }
  }
  &-info {
    width: 100%;
    max-width: 589px;
    height: 473px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    @include media(400px) {
      width: 318px;
      gap: 12px;
    }
    &-title {
      font-family: $pr-font;
      font-weight: 400;
      font-size: 50px;
      line-height: 60px;
      color: var(--text-color);
      span {
        font-family: $sc-font;
        font-weight: 700;
        line-height: 81.65px;
        color: $pr-color;
      }
      @include media(400px) {
        font-size: 30px;
        line-height: 36px;
        span {
          line-height: 49px;
        }
      }
    }
    &-text {
      font-family: $pr-font;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: var(--text-color);
      @include media(950px) {
        font-size: 16px;
      }
      @include media(800px) {
        font-size: 18px;
      }
      @include media(400px) {
        line-height: 27px;
      }
    }
    .site-btn {
      margin-right: auto;
      @include media(500px) {
        margin-right: 0;
        text-align: center;
        width: 100%;
      }
    }
  }
}
.advantages {
  width: 100%;
  padding: 90px 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media(900px) {
      flex-direction: column-reverse;
      gap: 20px;
    }
  }
  &-infos {
    display: flex;
    flex-direction: column;
    gap: 41px;
    @include media(900px) {
      align-items: center;
      gap: 18px;
    }
    &__info {
      display: flex;
      flex-direction: column;
      gap: 18px;
      @include media(900px) {
        text-align: center;
      }
      .title {
        width: 100%;
        max-width: 531px;
        font-family: $pr-font;
        font-weight: 400;
        font-size: 50px;
        line-height: 62.5px;
        color: var(--text-color);
        span {
          font-family: $sc-font;
          font-weight: 700;
          font-size: 50px;
          color: $pr-color;
        }
        @include media(400px) {
          width: 309px;
          font-size: 30px;
          line-height: 38px;
          span {
            font-size: 30px;
            line-height: 38px;
          }
        }
      }
      .sub-title {
        width: 100%;
        max-width: 510px;
        font-family: $pr-font;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: var(--text-color);
        @include media(400px) {
          width: 313px;
        }
      }
    }
    &__info-text {
      .info-list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        &__item {
          display: flex;
          gap: 18px;
          :last-child {
            width: 100%;
            max-width: 389px;
            @include media(400px) {
              width: 284px;
            }
          }
          span {
            font-family: $sc-font;
            font-weight: 700;
            font-size: 18px;
            line-height: 27px;
            color: $pr-color;
          }
          .check {
            width: 28px;
            height: 28px;
            background-color: var(--sc-color);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .text {
            font-family: $pr-font;
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: var(--text-color);
          }
        }
      }
    }
  }

  &-image {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      max-width: 549px;
      height: 481px;
      @include media(800px) {
        width: 449px;
        height: 381px;
      }
      @include media(600px) {
        width: 349px;
        height: 318px;
      }
      @include media(400px) {
        width: 249px;
        height: 218px;
      }
    }
    .rectangle {
      width: 120px;
      height: 587px;
      background: var(--pr-color);
      border-radius: 87px 0;
      @include media(800px) {
        width: 100px;
        height: 500px;
        border-radius: 70px 0;
      }
      @include media(600px) {
        width: 70px;
        height: 366px;
        border-radius: 50px 0;
      }
      @include media(400px) {
        width: 54px;
        height: 266px;
        border-radius: 39px 0;
      }
    }
  }
}
.guarantee {
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    @include media(1000px) {
      flex-direction: column;
      gap: 24px;
    }
  }
  &-images-wrapper {
    position: relative;
    top: -80px;
    left: -80px;
    @include media(550px) {
      left: 0;
      top: 0;
    }
    .cup {
      width: 100%;
      height: auto;
    }
  }
  &-text-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 531px;
    &-title {
      font-family: $pr-font;
      font-weight: 400;
      font-size: 50px;
      line-height: 62px;
      color: var(--text-color);
      margin-bottom: 30px;
      span {
        font-family: $sc-font;
        font-weight: 700;
        font-size: 50px;
        line-height: 1;
        color: $pr-color;
      }
      @include media(500px) {
        // width: 307px;
        font-size: 40px;
        // line-height: 37px;
        margin-bottom: 18px;
        span {
          font-size: 40px;
          // line-height: 37px;
        }
      }
      @include media(400px) {
        width: 307px;
        font-size: 30px;
        line-height: 37px;
        margin-bottom: 18px;
        span {
          font-size: 30px;
          line-height: 37px;
        }
      }
    }
    .text-frame {
      display: flex;
      flex-direction: column;
      gap: 45px;
      font-family: $pr-font;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 36px;
      .text {
        width: 100%;
        max-width: 510px;
        height: auto;
        color: #444939;
      }
      @include media(400px) {
        width: 321px;
        gap: 18px;
      }
    }
  }
}
.choose {
  padding: 80px 0;
  &-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    // padding: 0 114px;
    @include media(400px) {
      padding: 0 7px;
      gap: 24px;
    }
  }
  &-title {
    max-width: 610px;
    text-align: center;
    font-family: $pr-font;
    font-weight: 400;
    font-size: 50px;
    line-height: 125%;
    color: var(--text-color);
    span {
      font-family: $sc-font;
      font-weight: 700;
      color: $pr-color;
    }
    @include media(600px) {
      width: 400px;
      font-size: 40px;
      line-height: 47px;
      span {
        font-size: 40px;
        line-height: 47px;
      }
    }
    @include media(400px) {
      width: 314px;
      font-size: 30px;
      line-height: 37px;
      span {
        font-size: 30px;
        line-height: 37px;
      }
    }
  }
  &-frame {
    width: 100%;
    .list {
      width: 100%;
      max-width: 972px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin: 0 auto;
      gap: 100px;
      @include media(900px) {
        gap: 50px;
      }
      @include media(800px) {
        gap: 1px;
      }
      @include media(700px) {
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        gap: 24px;
      }
      .item-wrapper {
        width: 100%;
        max-width: 436px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @include media(400px) {
          padding: 0 19px 0 0;
        }
      }
      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        &:nth-child(2) {
          @include media(400px) {
            .text {
              width: 114px;
            }
          }
          .image {
            border-radius: 0px 24px;
          }
        }
        &:nth-child(4) {
          @include media(400px) {
            .text {
              width: 124px;
            }
          }
          .image {
            border-radius: 0px 24px;
          }
        }
        .image {
          width: 123px;
          height: 123px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--pr-color);
          border-radius: 24px 0px;
          margin-bottom: 20px;
          svg path {
            fill: var(--fill-color);
          }
        }
        .text {
          width: 168px;
          font-family: $pr-font;
          font-weight: 400;
          font-size: 24px;
          line-height: 30px;
          color: var(--text-color);
          span {
            font-family: $sc-font;
            font-weight: 700;
            color: $pr-color;
          }
          @include media(400px) {
            font-size: 18px;
            line-height: 22.5px;
          }
        }
      }
    }
  }
}
.comments {
  padding: 80px 0;
  background: var(--bg-color);
  display: flex;
  gap: 30px;
  .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .comments-wrapper-title {
    position: relative;
    .comments-title {
      font-family: $pr-font;
      font-weight: 400;
      font-size: 50px;
      line-height: 60px;
      color: var(--text-color);
      span {
        font-family: $sc-font;
        font-weight: 700;
        font-size: 50px;
        line-height: 82px;
        color: $pr-color;
      }
      @include media(600px) {
        text-align: center;
        font-size: 45px;
        line-height: 50px;
        span {
          font-size: 45px;
          line-height: 50px;
        }
      }
      @include media(400px) {
        text-align: center;
        font-size: 30px;
        line-height: 36px;
        span {
          font-size: 30px;
          line-height: 36px;
        }
      }
    }
    .buttons {
      position: absolute;
      top: 22px;
      right: 0;
      display: flex;
      align-items: center;
      gap: 24px;
      .comment-prev {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 38px;
        height: 38px;
        background: $pr-color;
        border-radius: 50%;
        img {
          width: 24px;
          height: 24px;
        }
      }
      .comment-next {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 38px;
        height: 38px;
        background-color: $pr-color;
        border-radius: 50%;
        rotate: 180deg;
        img {
          width: 24px;
          height: 24px;
        }
      }
      @include media(600px) {
        display: none;
      }
    }
  }
  .comment {
    .mySwiper {
      overflow: hidden;
      .swiper-slide {
        display: block;
        align-items: flex-start;
        background: var(--pr-bg-color);
        border-radius: 24px 0px;
        .frame {
          padding: 30px;
          .img-frame {
            display: flex;
            align-items: center;
            gap: 20px;
            .text-frame {
              display: flex;
              flex-direction: column;
              gap: 8px;
              .title {
                font-family: $pr-font;
                font-weight: 500;
                font-size: 24px;
                line-height: 28.64px;
                color: var(--text-color);
                @include media(1100px) {
                  font-size: 20px;
                  line-height: 20px;
                }
                @include media(400px) {
                  font-size: 16px;
                  line-height: 19px;
                }
              }
              .sub-title {
                font-family: $pr-font;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: var(--third-text-color);
              }
            }
          }
          .text {
            margin-top: 18px;
            font-family: $pr-font;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: var(--third-text-color);
            @include media(900px) {
              // max-width: 298px;
              font-size: 15px;
              line-height: 22px;
            }
            @include media(400px) {
              max-width: 298px;
              font-size: 14px;
              line-height: 21px;
            }
          }
        }
      }
    }
    .btn2 {
      position: relative;
      top: 20px;
      left: 0;
      .buttons2 {
        display: none;
        align-items: center;
        justify-content: center;
        gap: 24px;
        @include media(600px) {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .comment-prev {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 38px;
          height: 38px;
          background: $pr-color;
          border-radius: 50%;
          img {
            width: 24px;
            height: 24px;
          }
        }
        .comment-next {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 38px;
          height: 38px;
          background-color: $pr-color;
          border-radius: 50%;
          rotate: 180deg;
          img {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
}
.offer {
  padding-bottom: 80px;
  width: 100%;
  background: var(--bg-color);
  .container {
    display: flex;
    align-items: center;
    gap: 97px;
    @include media(1000px) {
      gap: 30px;
    }
    @include media(700px) {
      flex-direction: column;
      text-align: center;
      gap: 24px;
    }
  }
  iframe {
    width: 100%;
    max-width: 692px;
    height: 566px;
    border-radius: 0px 50px;
    filter: grayscale(1);
    @include media(1000px) {
      height: 500px;
    }
    @include media(700px) {
      height: 466px;
    }
    @include media(400px) {
      height: 275px;
    }
  }
  &-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    .title-frame {
      margin-bottom: 37px;
      @include media(400px) {
        margin-bottom: 24px;
      }
      .title {
        font-family: $pr-font;
        font-weight: 400;
        font-size: 50px;
        line-height: 62.5px;
        color: var(--text-color);
        margin-bottom: 28px;
        @include media(1200px) {
          font-size: 35px;
          line-height: 40px;
          margin-bottom: 15px;
        }
        @include media(400px) {
          font-size: 30px;
          line-height: 37px;
          margin-bottom: 12px;
        }
      }
      .text {
        width: 100%;
        max-width: 410px;
        font-family: $pr-font;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: var(--third-text-color);
      }
    }
    .input-frame {
      width: 100%;
      max-width: 411px;
      display: flex;
      flex-direction: column;
      form {
        width: 100%;
        input {
          width: 100%;
          font-family: $pr-font;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          padding: 13px 18px;
          margin-bottom: 22px;
          border: none;
          border-radius: 12px 0;
          color: var(--third-text-color);
          background-color: var(--pr-bg-color);
          outline: none;
          -moz-appearance: textfield;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        textarea {
          width: 100%;
          font-family: $pr-font;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          resize: vertical;
          border: none;
          color: var(--third-text-color);
          border-radius: 12px 0;
          background-color: var(--pr-bg-color);
          padding: 13px 18px;
          margin-bottom: 22px;
          outline: none;
        }
        .site-btn {
          width: 100%;
        }
      }
    }
  }
}
