.reputation {
  width: 100%;
  background-color: var(--bg-color);
  padding: 80px 0 0 0;
  &-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    @include media(1025px) {
      gap: 80px;
    }
    @include media(850px) {
      gap: 60px;
    }
    @include media(760px) {
      gap: 50px;
    }
    @include media(670px) {
      gap: 40px;
    }
    @include media(460px) {
      gap: 30px;
    }
    @include media(400px) {
      gap: 32px;
    }
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      .title {
        font-family: $sc-font;
        font-weight: 400;
        font-size: 80px;
        line-height: 131px;
        color: var(--text-color);
        @include media(1000px) {
          font-size: 70px;
          line-height: 100px;
        }
        @include media(900px) {
          font-size: 60px;
          line-height: 90px;
        }
        @include media(730px) {
          font-size: 55px;
          line-height: 60px;
        }
        @include media(400px) {
          font-size: 50px;
          line-height: 82px;
        }
        span {
          color: $pr-color;
        }
      }
      .sub-title {
        font-family: $pr-font;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: var(--text-color);
        opacity: 0.5;
        @include media(900px) {
          font-size: 22px;
          line-height: 25px;
        }
        @include media(500px) {
          font-size: 20px;
          line-height: 23px;
        }
        @include media(400px) {
          font-size: 18px;
          line-height: 21px;
        }
      }
    }
    .line {
      width: auto;
      height: 173px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      @include media(1000px){
        height: 140px;
      }
      @include media(800px){
        height: 120px;
      }
      @include media(600px){
        height: 100px;
      }
      @include media(400px){
        height: 104px;
      }
    }
    .line-none {
      @include media(620px) {
        display: none
      }
    }
  }
}
.products {
  background-color: var(--bg-color);
  padding: 80px 0px;
  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 46px;
    position: relative;
    .title-section {
      display: flex;
      justify-content: start;
      .title {
        font-family: $pr-font;
        font-weight: 400;
        font-size: 50px;
        line-height: 60px;
        color: var(--text-color);
        span {
          font-family: $sc-font;
          font-weight: 700;
          font-size: 50px;
          line-height: 1;
          color: $pr-color;
        }
      }
      .buttons {
        position: absolute;
        top: 11px;
        right: 0;
        display: flex;
        align-items: center;
        gap: 24px;
        .button-prev {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 38px;
          height: 38px;
          background: $pr-color;
          border-radius: 50%;
          img {
            width: 24px;
            height: 24px;
          }
        }
        .button-next {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 38px;
          height: 38px;
          background-color: $pr-color;
          border-radius: 50%;
          rotate: 180deg;
          img {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
    .product-section {
      .swiper {
        .swiper-wrapper {
          .swiper-slide {
            width: 285px !important;
            background: $pr-bg-color;
            border-radius: 0px 24px;
            .frame {
              padding: 24px;
              display: flex;
              flex-direction: column;
              gap: 18px;
              .img-frame {
                padding: 10px 30px;
                width: 100%;
                max-width: 237px;
                height: 144px;
                background: $sr-bg-color;
                border-radius: 12px;
                display: grid;
                place-items: center;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  object-position: center;
                }
              }
              .title {
                font-family: $pr-font;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                color: var(--text-color);
              }
              .text {
                font-family: $pr-font;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 1;
                color: rgba(var(--text-color) 0.5);
              }
            }
          }
        }
      }
    }
  }
}
.about-us-section {
  width: 100%;
  background: var(--bg-color);
  padding-bottom: 80px;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-packing {
    width: 100%;
    max-width: 548px;
    height: 496px;
    background: $sc-text-color;
    border-radius: 87px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    &-title {
      max-width: 328px;
      font-family: $sc-font;
      font-weight: 700;
      font-size: 50px;
      line-height: 81.65px;
      color: $white-text-color;
    }
  }
  &-info {
    width: 589px;
    height: 473px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    &-title {
      font-family: $pr-font;
      font-weight: 400;
      font-size: 50px;
      line-height: 60px;
      color: var(--text-color);
      span {
        font-family: $sc-font;
        font-weight: 700;
        line-height: 81.65px;
        color: $pr-color;
      }
    }
    &-text {
      font-family: $pr-font;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: rgba(var(--text-color) 0.7);
      &:first-child {
        width: 589px;
      }
    }
    .site-btn {
      margin-right: auto;
    }
  }
}
.advantages {
  width: 100%;
  padding: 90px 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-infos {
    display: flex;
    flex-direction: column;
    gap: 41px;
    &__info {
      display: flex;
      flex-direction: column;
      gap: 17px;
      .title {
        font-family: $pr-font;
        font-weight: 400;
        font-size: 50px;
        line-height: 62.5px;
        color: var(--text-color);
        span {
          font-family: $sc-font;
          font-weight: 700;
          font-size: 50px;
          color: $pr-color;
        }
      }
      .sub-title {
        font-family: $pr-font;
        font-weight: 400;
        font-size: 16px;
        line-height: 1;
        color: rgba(var(--text-color) 0.7);
      }
    }
    &__info-text {
      .info-list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        &__item {
          display: flex;
          gap: 18px;
          :last-child {
            width: 389px;
          }
          span {
            font-family: $sc-font;
            font-weight: 700;
            font-size: 18px;
            line-height: 27px;
            color: $pr-color;
          }
          .check {
            width: 28px;
            height: 28px;
            background-color: $sc-bg-color;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .text {
            font-family: $pr-font;
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: var(--text-color);
          }
        }
      }
    }
  }

  &-image {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      display: flex;
      width: 549px;
      height: 481px;
    }
    .rectangle {
      width: 120px;
      height: 587px;
      background: $sc-bg-color;
      border-radius: 87px 0;
    }
  }
}
.guarantee {
  width: 100%;
  height: 704px;
  background: var(--bg-color);
  padding-bottom: 80px;
  .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  &-images-wrapper {
    position: relative;
    top: 80px;
    .frame {
      width: 527px;
      height: 464px;
      background: $sc-bg-color;
      border-radius: 59px 0px;
    }
    .barg-2 {
      position: absolute;
      top: -291px;
      left: -126px;
    }
    .cup {
      position: absolute;
      top: 80px;
      left: 80px;
      width: 527px;
      height: 464px;
    }
  }
  &-text-wrapper {
    position: relative;
    top: 62px;
    width: 100%;
    max-width: 531px;
    &-title {
      font-family: $pr-font;
      font-weight: 400;
      font-size: 50px;
      line-height: 62px;
      color: var(--text-color);
      margin-bottom: 30px;
      span {
        font-family: $sc-font;
        font-weight: 700;
        font-size: 50px;
        line-height: 1;
        color: $pr-color;
      }
    }
    .text-frame {
      display: flex;
      flex-direction: column;
      gap: 45px;
      font-family: $pr-font;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: rgba(var(--text-color) 0.7);
      .text {
        width: 100%;
        max-width: 510px;
        height: auto;
      }
    }
  }
}
.choose {
  padding: 80px 0;
  &-title {
    max-width: 610px;
    text-align: center;
    font-family: $pr-font;
    font-weight: 400;
    font-size: 50px;
    line-height: 125%;
    color: var(--text-color);
    span {
      font-family: $sc-font;
      font-weight: 700;
      color: $pr-color;
    }
  }
  &-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 0 114px;
  }
  &-frame {
    width: 100%;
    .list {
      width: 100%;
      max-width: 972px;
      display: flex;
      justify-content: space-between;
      .item-wrapper {
        width: 100%;
        max-width: 436px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 100px;
      }
      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        &:nth-child(2) .image {
          border-radius: 0px 24px;
        }
        &:nth-child(4) .image {
          border-radius: 0px 24px;
        }
        .image {
          width: 123px;
          height: 123px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $sc-bg-color;
          border-radius: 24px 0px;
          margin-bottom: 20px;
        }
        .text {
          width: 100%;
          max-width: 168px;
          font-family: $pr-font;
          font-weight: 400;
          font-size: 24px;
          line-height: 30px;
          color: var(--text-color);
          span {
            font-family: $sc-font;
            font-weight: 700;
            color: $pr-color;
          }
        }
      }
    }
  }
}
.comments {
  padding: 80px 0;
  background: var(--bg-color);
  display: flex;
  gap: 30px;
  .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .comments-wrapper-title {
    position: relative;
    .comments-title {
      font-family: $pr-font;
      font-weight: 400;
      font-size: 50px;
      line-height: 60px;
      color: var(--text-color);
      span {
        font-family: $sc-font;
        font-weight: 700;
        font-size: 50px;
        line-height: 82px;
        color: $pr-color;
      }
    }
    .buttons {
      position: absolute;
      top: 22px;
      right: 0;
      display: flex;
      align-items: center;
      gap: 24px;
      .comment-prev {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 38px;
        height: 38px;
        background: $pr-color;
        border-radius: 50%;
        img {
          width: 24px;
          height: 24px;
        }
      }
      .comment-next {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 38px;
        height: 38px;
        background-color: $pr-color;
        border-radius: 50%;
        rotate: 180deg;
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  .comment {
    .mySwiper {
      overflow: hidden;
      .swiper-slide {
        display: block;
        width: 590px;
        height: 316px;
        background: $pr-bg-color;
        border-radius: 24px 0px;
        .frame {
          padding: 30px;
          .img-frame {
            display: flex;
            align-items: center;
            gap: 20px;
            .text-frame {
              display: flex;
              flex-direction: column;
              gap: 8px;
              .title {
                font-family: $pr-font;
                font-weight: 500;
                font-size: 24px;
                line-height: 28.64px;
                color: var(--text-color);
              }
              .sub-title {
                font-family: $pr-font;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: rgba(var(--text-color) 0.3);
              }
            }
          }
          .text {
            margin-top: 18px;
            width: 100%;
            max-width: 530px;
            font-family: $pr-font;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: rgba(var(--text-color) 0.6);
          }
        }
      }
    }
  }
}
.offer {
  padding-bottom: 80px;
  width: 100%;
  background: var(--bg-color);
  .container {
    display: flex;
    align-items: center;
    gap: 97px;
  }
  iframe {
    width: 100%;
    max-width: 692px;
    height: 566px;
    border-radius: 0px 50px;
  filter: grayscale(1);
  }
  &-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    .title-frame {
      margin-bottom: 37px;
      .title {
        font-family: $pr-font;
        font-weight: 400;
        font-size: 50px;
        line-height: 62.5px;
        color: var(--text-color);
        margin-bottom: 28px;
      }
      .text {
        width: 100%;
        max-width: 410px;
        font-family: $pr-font;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: rgba(var(--text-color) 0.8);
      }
    }
    .input-frame {
      width: 100%;
      max-width: 411px;
      display: flex;
      flex-direction: column;
      form {
        width: 100%;
        input {
          width: 100%;
          font-family: $pr-font;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          padding: 13px 18px;
          margin-bottom: 22px;
          border: none;
          border-radius: 12px 0;
          background-color: $pr-bg-color;
          outline: none;
          -moz-appearance: textfield;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        textarea {
          width: 100%;
          font-family: $pr-font;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          resize: vertical;
          border: none;
          border-radius: 12px 0;
          background-color: $pr-bg-color;
          padding: 13px 18px;
          margin-bottom: 22px;
          outline: none;
        }
        .site-btn {
          width: 100%;
        }
      }
    }
  }
}
