.products {
  background-color: #fff;
  padding: 80px 0px;
  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 46px;
    position: relative;
    .title-section {
      display: flex;
      justify-content: start;
      .title {
        font-family: $pr-font;
        font-weight: 400;
        font-size: 50px;
        line-height: 60px;
        color: $pr-text-color;
        span {
          font-family: $sc-font;
          font-weight: 700;
          font-size: 50px;
          line-height: 1;
          color: $pr-color;
        }
      }
      .buttons {
        position: absolute;
        top: 11px;
        right: 0;
        display: flex;
        align-items: center;
        gap: 24px;
        .button-prev {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 38px;
          height: 38px;
          background: $pr-color;
          border-radius: 50%;
          img {
            width: 24px;
            height: 24px;
          }
        }
        .button-next {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 38px;
          height: 38px;
          background-color: $pr-color;
          border-radius: 50%;
          rotate: 180deg;
          img {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
    .product-section {
      .swiper {
        .swiper-wrapper {
          .swiper-slide {
            width: 285px !important;
            background: $pr-bg-color;
            border-radius: 0px 24px;
            .frame {
              padding: 24px;
              display: flex;
              flex-direction: column;
              gap: 18px;
              .img-frame {
                padding: 10px 30px;
                width: 100%;
                max-width: 237px;
                height: 144px;
                background: $sr-bg-color;
                border-radius: 12px;
                display: grid;
                place-items: center;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  object-position: center;
                }
              }
              .title {
                font-family: $pr-font;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                color: $pr-text-color;
              }
              .text {
                font-family: $pr-font;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 1;
                color: rgba($pr-text-color, 0.5);
              }
            }
          }
        }
      }
    }
  }
}
