$pr-color: #158527;
$sc-text-color: #5a7c52;
$third-text-color: #444939;
$white-text-color: #ffffff;
$pr-bg-color: #fafaf9;
$sc-bg-color: #f8fbda;
$sr-bg-color: #f3f3ee;
$dark-bg-color: #162318;
$pr-font: "Display";
$sc-font: "Arima";

:root {
  --bg-color: #fff;
  --text-color: #000;
  --kir: url(../images/png/kir.png);
  --sc-color: #f8fbda;
  --third-text-color: #444939;
  --mode: #000;
  --mode-img: url(../images/svg/Moon.svg);
}
.dark {
  --bg-color: #162318;
  --text-color: #fff;
  --kir: #1c2c1f;
  --sc-color: #293d2d;
  --third-text-color: #fff;
  --mode: #f8fbda;
  --mode-img: url(../images/svg/Sun.svg);
}
@mixin media($w) {
  @media (max-width: $w) {
    @content;
  }
}
*,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  transition: all 0.3s ease;
}
html {
  width: 100%;
  // height: 100%;
  user-select: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  width: 100%;
  background: var(--kir);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}
button {
  border: none;
  cursor: pointer;
}
.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
.black {
  width: 500px;
  height: 500px;
  display: grid;
  place-items: center;
  background: var(--bg-color);
}
#btn {
  transition: all 0.5s ease;
  width: 92px;
  height: 92px;
  position: fixed;
  background: var(--mode);
  background-image: var(--mode-img);
  background-size: cover 100%;
  background-repeat: no-repeat;
  background-position: center;
  top: 40%;
  right: 1%;
  z-index: 9999;
  border-radius: 50%;
  &:hover {
    transform: translateY(-10px);
  }
  @include media(1000px) {
    width: 70px;
    height: 70px;
    background-size: 50%;
  }
  @include media(500px) {
    width: 60px;
    height: 60px;
    background-size: 40%;
  }
  @include media(375px) {
    width: 40px;
    height: 40px;
    background-size: 20px;
  }
}
.site-btn {
  font-family: $pr-font;
  font-weight: 500;
  display: inline-block;
  padding: 14px 59px;
  background-color: $pr-color;
  border-radius: 11px 0px;
  color: $white-text-color;
  transition: all 0.3s ease;
  &:hover {
    border-radius: 0px 11px;
  }
}
.bg-circle {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  right: -75%;
  z-index: -2;
  transition: 0.3s ease;
  &.bghh {
    opacity: 0;
  }
  .circle {
    position: absolute;
    top: -250px;
    background: var(--sc-color);
    width: 1300px;
    height: 1700px;
    border-radius: 35%;
    overflow: hidden;
    animation: circle 35s infinite linear;
  }
  @keyframes circle {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
.site-logo {
  display: flex;
  width: 150px;
  height: 72px;
}
